/* border-4 border-[#404148] px-3  flex  items-center gap-2 bg-[#252733] */
.navBarComsButtons {
  display: flex;
  align-items: center;
  gap: 4px;
  color: whitesmoke;
  border: 4px solid #3b3c43;
  padding-left: 10px;
  padding-right: 10px;
}

.sideNavBarOn {
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 50;
  margin-top: -0.75rem;
  background-color: #55b4f3;
  color: white;
  animation: animateLeft 0.5s;
}
.sideNavBarOf {
  flex-direction: column;
  position: absolute;
  margin-top: -0.75rem;
  background-color: #55b4f3;
  color: white;
  width:0vw;
  height: 100vh;
  animation: animateRight 1s ;
}

.bgClose {
  padding: 3px 10px 3px 10px;  
}

.sideNavRoute li {
  display: flex;
  align-items: center;
  text-decoration: none;
  margin-left: 40px;
  list-style: none;
  padding-top: 20px;
  font-weight: 600;
  gap: 10px;
}


@keyframes animateLeft {
  from {
    left: -300px;
    opacity: 0;
  }
  to {
    left: 0;
    opacity: 1;
  }
}
@keyframes animateRight {
  from {
    width: 100vw;
  }
  to {
    width: 0px;
  }
}



