@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@200;300;400;500;600;700;800;900&display=swap');

.uiFont{
    font-family: 'Barlow Condensed', sans-serif;
}

.homeBackground {
    background-image: url("../../../resource/service/serviceBg.png");
    background-color: #000000;
    background-repeat: no-repeat;
    background-size: 100vw 300vh;   
}

.homeServiceCard{
    border-top: 40px solid #55B4F3;
    font-family: 'Barlow Condensed', sans-serif;
}
.cardHover{
    transition: 0.3s ease-in-out;
}
.homeServiceCard:hover .cardHover{
    color: #55B4F3;
}
.homeServiceButton{
    border: 4px solid #55B4F3;
    font-weight: 700;
    transition: 0.3s ease-in-out;
}
.homeServiceButton:hover{
    background-color: #55B4F3;
    color: whitesmoke;
}
.homeServiceDec{
    font-family: 'Barlow Condensed', sans-serif;
}